.main-div {
    margin: 0 auto;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.1);
    background-color: white;
    font-size: 1.3em;
}

.holders-holder {
    height: 10em;
    display: flex;
    flex-flow: nowrap;
}

.logo-holder {
    flex: 1 0 20%;
}

.search-holder {
    font-size: 1.3em;
    flex: 1 1 50%;
    align-self: center;
    text-align: center;
}

.search-input {
    width: 50%;
}

.search-icon {
    font-size: 1.5em;
}

.nav-icons {
    flex: 1 0 30%;
    display: flex;
    margin-right: 2em;
}

.nav-icon-holder {
    flex: 1 0 32%;
    align-self: center;
    text-align: center;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,.1);
    padding: 1em 0.2em;
    margin: 0.2em;
}

.nav-icon-holder i {
    width: 100%;
}

.buysellapp-logo {
    background-image: url(../../assets/img/bidhammer.png);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    background-position: center;
    align-self: center;
}

.buysellapp-logo:hover {
    opacity: 0.3;
}