<div class="main-div">
    <div class="holders-holder">

        <div class="logo-holder">
            <div class="buysellapp-logo"></div>
        </div>

        <div class="search-holder">
            <mat-form-field class="search-input">
                <input matInput placeholder="Search">
            </mat-form-field>
            <button mat-fab color="primary">
                <i class="fa fa-search search-icon"></i>    
            </button>
        </div>

        <!-- Navigation Icons -->
        <div class="nav-icons">

            <!-- My bids -->
           <div class="nav-icon-holder">
               <i class="fa fa-usd"></i>
           </div>

            <!-- Publish listing -->
           <div class="nav-icon-holder">
                <i class="fa fa-plus"></i>
           </div>

            <!-- My Profile -->
            <div class="nav-icon-holder">
                <i class="fa fa-user"></i>
            </div>
            
        </div>
    </div>
</div>