<div class="main-div">
    <div class="holders-holder">

        <div class="logo-holder clickable" (click)="redirectToHome()">
            <div class="buysellapp-logo"></div>
        </div>

        <div class="search-holder">
            <mat-form-field class="search-input">
                <input matInput placeholder="Search" [(ngModel)]="filterString" (ngModelChange)="onFilterChange()">
            </mat-form-field>
            <button mat-fab color="info">
                <i class="fa fa-search search-icon"></i>    
            </button>
        </div>

        <!-- Navigation Icons -->
        <div class="nav-icons">

            <!-- Publish listing -->
           <div class="nav-icon-holder clickable" (click)="redirectToPublishListing()">
                <i class="material-icons md-48">add_circle_outline</i>
                <span>Publish Listing</span>
           </div>

            <!-- My Profile -->
            <div class="nav-icon-holder clickable" (click)="redirectToProfile()">
                <i class="material-icons md-48">face</i>
                <span>My Profile</span>
            </div>
            
        </div>
    </div>
</div>