<div class="auth" *ngIf="!auth.isAuthenticated()">
    <div class="login-controls-holder">
        <h4 class="info-text">Please login to view this page</h4>

        <mat-form-field class="form-control">
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="form-control">
            <input matInput placeholder="Password" type="password">
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="auth.login()">Login</button>
    </div>
</div>

<div *ngIf="auth.isAuthenticated()">is auth</div>