<div class="detailed-listing">

    <!-- Title -->
    <h2 class="title">{{listing.Title}}</h2>

    <!-- Image -->
    <div class="listing-image-holder">
        <img class="listing-image" src="{{listing.ImgUrl}}" />
    </div>

    <div class="bids-holder">
        <!-- Add Bid -->
        <div class="add-bid">
            <mat-form-field class="bid-input">
                <input matInput placeholder="Amount" [(ngModel)]="valueInBiddingInput">
            </mat-form-field>

            <button mat-fab (click)="addBid()">
                Bid!
            </button>
        </div>

        <!-- Bids -->
        <h4>Bids</h4>
        <table class="bids-table">
            <thead>
                <tr>
                    <th>Bidder</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!listing.Bids || listing.Bids.length == 0">
                    <td>No</td>
                    <td>Bids</td>
                    <td>Existing</td>
                </tr>
                <tr *ngFor="let bid of listing.Bids">
                    <td>{{bid.Email}}</td>
                    <td>{{bid.Amount}} kr</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Description -->
    <div class="description-holder">
        <h4>Description</h4>
        <span>{{listing.Description}}</span>
    </div>

</div>