<div class="listing-holder">
    <div *ngFor="let listing of listings | filter:filterableAttributes:filterString" class="listing-entry" [class.tile]="showTileView">
        <div (click)="onListingClick(listing)">
            <div class="image-holder" [class.tile]="showTileView">
                <a>
              <img class="listing-image" [class.tile]="showTileView" src=" {{ '../../' + listing.ImgUrl }} "/>
            </a>
            </div>
            <div class="info-holder" [class.tile]="showTileView">
                <span class="title">{{listing.Title}}</span>
                <span class="end-time">{{listing.EndTime | date }}</span>
            </div>
        </div>
        <div *ngIf="showTileView" class="edit-listing clickable" (click)="onEditListingClick(listing)">
            <i class="material-icons md-48">edit</i>
        </div>
    </div>
</div>