<div class="form-container">
    <form [formGroup]="form" (submit)="submitForm()">

        <div class="form-header form-member" [class.editing]="editing">
            <h2>{{editing ? "Edit" : "Create" }} Listing</h2>
        </div>

        <!-- Name input -->
        <mat-form-field class="form-member">
            <input matInput formControlName="title" id="title" mdInput placeholder="Title" [(ngModel)]="listing.Title" required />
        </mat-form-field>
        <!-- <control-messages [control]="form.get('name')" class="form-member"></control-messages> -->

        <!-- Description input -->
        <mat-form-field class="form-member">
            <textarea matInput formControlName="description" mdInput placeholder="Description" [(ngModel)]="listing.Description"></textarea>
        </mat-form-field>
        <!-- <control-messages [control]="form.get('description')" class="form-member"></control-messages> -->

        <!-- Ending datetime picker -->
        <p-calendar formControlName="enddate"></p-calendar>

        <!-- Amount input -->
        <mat-form-field class="form-member">
            <input matInput formControlName="amount" mdInput placeholder="Amount" [(ngModel)]="listing.Amount" pattern="[0-9]*" />
        </mat-form-field>
        <!-- <control-messages [control]="form.get('description')" class="form-member"></control-messages> -->

        <!-- Picture Upload -->
        <div class="form-member">
            <h5>Picture</h5>
            <input class="picture-upload-input" type="file" (change)="fileEvent($event)" accept=".png,.gif,.jpeg,.jpg" />

            <img [src]="url" class="image-preview">
        </div>

        <!-- Save button -->
        <div class="form-member">
                <button mat-raised-button color="primary">Save</button>
        </div>
    </form>

</div>