html, body{
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #F7F7F7;
}

a.active {
  background-color: gray;
}

.header-component-holder {
  margin-top: 1.5em;
}

.primary-outlet-container {
  max-width: 1260px;
  /* border: 1px solid red; */
  margin: 2em auto 0;
}

.response-message-holder {
    font-size: 1.5em;
}