<div class="header-component-holder">
    <header-component>
    </header-component>

    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="First name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field></td>
      </tr></table>
</div>
<div class="primary-outlet-container">
    <router-outlet></router-outlet>
</div>